<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Test Reports Tracker</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 <%- body %>

 <footer class="site-footer">
  <p>© <%= new Date().getFullYear() %> Asaf Zuriel Test Tracker. All Rights Reserved.</p>
 </footer>

</body>
</html>